body{
    margin: o;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.heading{
    display: flex;
    margin-bottom: 100px;
}
.logo{
    display: flex;
}
.logo-img{
    margin-top: 10px;
    
}
.logo-img img{
    width: 37px;
    height: 37px;
}
.logo-txt{
   color: #228b22;
}

.navbar{
    margin-left: 180px;
    margin-top: 10px;
   
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style-type: none;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #000000;
}
.contact{
    padding: 15px;
    width: 100px;
    text-align: center;
    background-color: #228b22;
    margin-left: 260px;
    border-radius: 5px;
    align-self: center;
    opacity: 0.8;
}
.contact a{
    text-decoration: none;
    color: #ffffff;
    list-style-type: none;
}
.hero-img{
    background-image: url(../images/usman-yousaf-SakqLf78KVo-unsplash.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50%;
    /* height: 800px; */
    margin-top: 0;
    margin-bottom: 80px;
}
.hero-txt{
    width: 50%;
}
.hero-txt h1{
    font-weight: bold;
    font-size: 65px;
}
.hero-txt h1 span{
    color: #228b22;
}
.hero-txt p{
    text-align: justify;
}
.hero-img button{
    background-color: #228b22;
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    opacity: 0.8;
    border-style: none;
}
.hero-img button a{
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
    
}
.med-services{
    display: flex;
    width:  100%;
    justify-content: space-between;
}
.service-box{
    width: 200px;
    padding: 15px;
}
.msn-section{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.msn-section .msn-img{
    width: 50%;
}
.msn-section .msn-img img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.msn-section .msn-txt{
    width: 50%;
    padding-top: 100px;
}
.msn-section .msn-txt p{
    text-align: justify;
}
.msn-section .msn-txt h3, span{
    color: #228b22;
}
.msn-section .msn-txt button{
    background-color: #228b22;
    padding: 15px;
    width: 120px;
    border-radius: 5px;
    opacity: 0.8;
    border-style: none;
}
.msn-section .msn-txt button a{
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}
#white-arrow{
    width: 10px;
    margin-left: 3px;
}
.specialist-section{
    display: flex;
    margin-top: 80px;
    width: 100%;
}
.specialist-section .specialist-txt{
    width: 50%;
    text-align: justify;
}
.specialist-section .specialist-txt p{
    text-align: justify;
}
.specialist-section .specialist-txt h3, span{
    color: #228b22;
}
.specialist-section .specialist-txt button{
    background-color: #228b22;
    padding: 15px;
    width: 120px;
    border-radius: 5px;
    opacity: 0.8;
    border-style: none;
}
.specialist-section .specialist-txt button a{
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}
.specialist-section .specialist-img{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}
.specialist-section .specialist-img .specialist-cnt{
    width: 200px;
    height: 200px;
    text-align: center;
}
#rating{
   margin-top: 20px; 
}
.doctors{

}
.doctors .doctors-team{
    text-align: center;
}
.doctors .doctors-team h3, span{
    color: #228b22;
}
.doctors .doctors-img{
    display: flex;
    width: 100%;

}
.doctor h3, p{
    text-align: center;
}
.doctor{
    padding: 30px;
}

.doctors .doctors-more{
    text-align: center;
}
#green-arrow{
    width: 10px;
    margin-left: 3px;
}
#straight-line{
    background-color: #228b22;
    width: 110px;
    height: 3px;
    margin-left: 45%;
    margin-bottom: 20px;
}
.footer{
    position: absolute;
    background-color: #228b22;
    width: 100%;
    height: auto;
    margin-left: center;
}
.footer .footer-content{
    display: flex;
    margin-left: 100px;
    margin-top: 30px;
    
}
.footer .footer-content .footer-logo{
   width: 33%;
   /* margin-top: 10px; */
}
.footer .footer-content .footer-logo .logo .logo-img img{
    color: #ffffff;
    width: 37px;
    height: 37px;
}
.footer .footer-content .footer-logo .logo .logo-txt{
    color: #ffffff;
    margin-left: 10px;
}
.footer .footer-content .footer-logo p{
    text-align: justify;
    color: white;
    width: 324px;
}
.footer .footer-content .footer-social-media{
    width: 33%;
}
.footer .footer-content .footer-social-media .title{
    text-align: center;
    width: 283px;
    height: 27px;
    color: #ffffff;
    font-weight: 500;
    font-size: 22px;
}
.footer .footer-content .footer-contact{
    width: 289px;
    margin-top: 30px;
}
.footer .footer-content .footer-contact .contact-footer{
    display: flex;
    /* padding-top: 50px; */
}
.footer .footer-content .footer-contact .location{
    display: flex;
}
.footer .footer-content .footer-contact .email{
    display: flex;
}
.footer .footer-content .footer-contact p{
    text-align: justify;
    margin-top: 0;
    margin-left: 25px;
    color: #ffffff;
}
.white-straight-line{
    width: 1150px;
    background-color: #ffffff;
    height: 3px;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 30px;
}
.trademark{
    display: flex;
    width: 1150px;
    justify-content: space-between;
    color: #ffffff;
    margin-left: 100px;
    margin-bottom: 20px;
}
.trademark .trademark-policy{
    /* margin-left: 100px; */
}
.trademark .trademark-policy .year{
    /* margin-right: 100px; */
}
